/* * {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: calc(16px + (48 - 16)*(100vw - 320px)/(2560 - 320));
} */
/* body, button {
	font: 1em/1.5 "Hind", sans-serif;
} */
/* body {
	background: #e3e4e8;
	display: flex;
	height: 100vh;
	overflow: hidden;
} */
@keyframes move-left {
    from {
        margin-right: 1em;
    }
    to {
        margin-right: 15em;
    }
}

@keyframes move-right {
    from {
        margin-right: 15em;
    }
    to {
        margin-right: 1em;
    }
}

.move-left {
    animation-name: move-left;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.move-right {
    animation-name: move-right;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.exploding-button.move-left::after {
    top: -50%;
    right: 10;
    position: absolute;
    content: attr(data-replace);
    color: rgb(255, 0, 0);
}

.exploding-button.move-left.move-right::after {
    top: -50%;
    right: 10;
    position: absolute;
    content: 'DO NOT FORCE ME...';
    color: rgb(255, 0, 0);
}

.exploding-button {
	background: #255ff4;
	border-radius: 0.2em;
	color: #fff;
	cursor: pointer;
	
	padding: 0.5em 1em;
	transition: background .15s linear, color .15s linear, margin-right 1s linear;
}
.exploding-button:focus, .exploding-button:hover {
	background: #0b46da;
}
.exploding-button:focus {
	outline: transparent;
}
.exploding-button::-moz-focus-inner {
	border: 0;
}
.exploding-button:active {
	transform: translateY(0.1em);
}
.exploding, .exploding:focus, .exploding:hover {
	background: transparent;
	color: transparent;
}
.exploding {
	pointer-events: none;
	position: relative;
	will-change: transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.particle {
	position: absolute;
	top: 0;
	left: 0;
}
.particle--debris {
	background: #255ff4;
}
.particle--fire {
	border-radius: 50%;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background: #17181c;
	}
} */